<div class="card-container">
  <mat-card >        
    <mat-card-content>
      <div class="desc-container">
        <img  src="../../../assets//profilepicture.jpg">
        <h1> El abbade Mouad</h1>
        <h3>Full Stack Developer</h3>
        <hr>
        <p>
            I am an award winning Full Stack Web Developer and UI/UX Javascript specialist.
            Check out my blog articles, React.JS and Vue.JS UI components at the code laboratory.

            Feel free to take a look at my latest projects on the web portfolio page.
            Based in London, UK. Enquires at rafael@caferati.me
        </p>
        <hr>
        <mat-icon>box</mat-icon>  
        <hr>
        <button mat-raised-button color="accent">Take a look --></button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
.
