<div class="card-container">
  <mat-card >        
    <mat-card-content>
      <div class="desc-container">
        <img  src="../../../assets//profilepicture.jpg">
        <h1> El abbade Mouad</h1>
        <h4>Full Stack Web Developer</h4>
        <hr>
        <p>
            I am an award winning Full Stack Web Developer and UI/UX Javascript specialist.
            Check out my blog articles, React.JS and Vue.JS UI components at the code laboratory.

            Feel free to take a look at my latest projects on the web portfolio page.
            Based in London, UK. Enquires at elabbademouad@gmail.com
        </p>
        <mat-icon ><i onclick="window.open('https://github.com/elabbademouad', '_blank');" class="fa fa-github"></i></mat-icon>
        <mat-icon ><i onclick="window.open('https://www.linkedin.com/in/mouadelabbade/', '_blank');"class="fa fa-linkedin"></i></mat-icon>
        <mat-icon ><i onclick="window.location.href='mailto:elabbademouad@gmail.com';"class="fa fa-envelope"></i></mat-icon>
        <hr>
        <button mat-raised-button color="accent">Take a look</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
.
